<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__JS__/select-ui.min.js"></script>  
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>控制台</li>
    <li>站点设置</li>
    </ul>
    </div>
    
<div class="formbody">
    <div id="usual1" class="usual"> 
    <div class="itab">
            <ul> 
                <li><a href="#tab1" class="selected">站点设置</a></li> 
                <li><a href="#tab2">其他设置</a></li> 
            </ul>
    </div> 
  	<div id="tab1" class="tabson">
        <div class="formtext">请完善站点信息！</div>
                <ul class="forminfo">
                    <li><label>网站名称</label><input name="" type="text" class="dfinput" value="" /><i>网站名称，将显示在前台顶部欢迎信息等位置</i></li>
                    <li><label>网站logo</label><input name="" type="text" class="dfinput" value="" /><i>网站名称，将显示在前台顶部欢迎信息等位置</i></li>
                    <li><label>会员中心logo</label><input name="" type="text" class="dfinput" value="" /><i>网站名称，将显示在前台顶部欢迎信息等位置</i></li>
                    <li><label>商家中心logo</label><input name="" type="text" class="dfinput" value="" /><i>网站名称，将显示在前台顶部欢迎信息等位置</i></li>
                    <li><label>ICP证书号</label><input name="" type="text" class="dfinput" value="" /><i>网站名称，将显示在前台顶部欢迎信息等位置</i></li>
                    <li><label>流量统计代码</label><textarea name="" cols="" rows="" class="textinput" style="width:325px"></textarea><i>网站名称，将显示在前台顶部欢迎信息等位置</i></li>
                    <li><label>评论是否审核</label><cite><input name="" type="radio" value="" checked="checked" />是&nbsp;&nbsp;&nbsp;&nbsp;<input name="" type="radio" value="" />否</cite></li>
                    <li><label>&nbsp;</label><input name="" type="button" class="btn" value="保存信息"/></li>
                </ul>
        </div> 
        <div id="tab2" class="tabson"></div>
	</div> 
    
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>

    </div>

</body>
</html>
